* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}


















/*============ Up Header ============*/

.bg {
    background-color: #282828;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.up_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
}

.up_left {
    display: inline-block;
    /*    padding-left: 10px;
*/
}

.up_item {
    display: inline-block;
}




.up_item button {
    color: #9c9b9b;
    font-size: 12px;
    font-weight: 300;
    padding-right: 33px;
    border: none;
    background: none;
}

.up_item button:hover {
    cursor: pointer;
    color: #ffffff;
}

.up_item button:focus {
    outline: none;
}

.up_item .material-icons {
    position: relative;
    top: 0;
    left: 3px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    margin: 0 auto;
}



.up_mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 105px;
}

.social_media a {
    margin-right: 10px;
    margin-left: 10px;
}

.social_media a:hover {
    color: #ffffff;
    cursor: pointer;
}

.up_mid .social_link {
    color: #959494;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.63px;
}

.up_header .up_right {
    display: flex;
    flex-direction: row;
}

.up_header .material-icons {
    color: #696969;
    padding-right: 16px;
}
























/*.up_header .up_right p {
    color: #9c9b9b;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding-right: 15px;
}*/

.up_header .up_right a {
    text-decoration: none;
    font-size: 12px;
    color: #9c9b9b;
    font-weight: 300;
    line-height: 24px;
    padding-right: 15px;
}

.up_header .up_right a:hover {
    color: #ffffff;
    cursor: pointer;
}


































































/*=============== Mid Header ================*/

.mid_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    padding-right: 15px;
    padding-left: 15px;
}

.mid_header .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    padding-left: 5px;
    padding-top: 2px;
}

.mid_header .contact {
    display: inline-block;
}

.contact .material_icons,
.contact p {
    display: inline-block;
}

.burger {
    display: none;
}

.mid_header .contact p {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 5px;
}

.mid_header .logo img {
    display: inline-block;
    position: center;
    margin-right: 58px;
    /*    vertical-align: top;
*/
}



.mid_header .mid_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mid_right .material-icons {
    color: #000000;
    font-size: 26px;
    padding-left: 10px;
}














































/*.mid_right {
    margin-left: 100px;
}*/

.mid_right .cart,
.mid_right .number {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding-right: 5px;
}

.contact .material-icons {
    vertical-align: top;
}

.mid_right p {
    padding-left: 17px;
}

.line {
    border-bottom: 1px solid #eeeeee;
}

.down_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 66%;
}



.items ul {
    display: inline-block;
    text-align: center;
}

.items li {
    display: inline-block;
}

.items a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px 29px 15px;
}

.down_header .items a:hover {
    color: red;
}

.items li .material-icons {
    padding-top: 15px;
    vertical-align: bottom;
}












/*==================Slider==================*/

.slider.owl-carousel .owl-item img {
    width: auto;
}

.slider_item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slider_description {
    position: absolute;
    top: 24%;
    left: 0;
    right: 0;
}

.slider_description h2 {
    color: #161918;
    font-size: 48px;
    font-weight: 300;
    line-height: 64px;
    margin-bottom: 34px;
}

.slider_description p {
    max-width: 758px;
    color: #161918;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 auto 75px;
}

.slider_description button {
    width: 220px;
    height: 70px;
    background-color: #000000;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
}

.slider_description button:hover {
    cursor: pointer;
}






.slider.owl-theme .owl-dots .owl-dot.active span {
    background: #c10101;
}

.slider.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #c10101;
    background: none;
    border-radius: 0;
}



.owl-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0;
}

.owl-dot {
    border-radius: 0;
}

.slider.no-js .owl-carousel,
.slider.owl-carousel.owl-loaded {
    position: relative;
}

.slider.owl-theme .owl-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    cursor: default;
    color: #a9a9a9;
}


.owl-nav:hover {
    background-color: #fff;

}

.slider.owl-theme .owl-nav>div {
    color: #a9a9a9;
    font-size: 14px;
    margin: 0;
    padding: 11px 7px 5px 13px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #eeeeee;
}



.slider.owl-theme .owl-nav .disabled{
    opacity: 1;

}


.slider.owl-theme .owl-nav .owl-prev{
    margin-right: -1px;
}


.slider.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #ffffff;
    color: #a9a9a9;
}

.slider.owl-theme .owl-nav [class*=owl-] i {
    font-size: 38px;
}


























/*===============Support=============*/

.support {
    padding-top: 62px;
    padding-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support_item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.support_item img {
    display: inline-block;
    /*    width: 39px;
*/
    margin: 0 auto;
    margin-bottom: 4px;
}

.support_description {
    display: inline-block;
}

.suppot_description h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 52.22px;
    text-transform: uppercase;
    text-align: center;
}

.suppot_description p {
    display: inline-block;
    color: #8a8a8d;
    font-size: 13px;
    font-weight: 300;
    line-height: 19.97px;
    max-width: 252px;
    text-align: center;
    margin-bottom: 58px;
}






























































/*===========Static============*/

.static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.static_item {
    position: relative;
    width: 32%;
}

.static_item img {
    max-width: 100%;
}
.border {
    display: inline-block;
    position: relative;
}









.static {
    line-height: 0;
}

.static_item:hover {
    outline: 1px solid #ffffff;
    outline-offset: -20px;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(1, 1, 1, 0.03);
    transition: 0.4s;
    cursor: pointer;
}

.static_description {
    position: absolute;
    bottom: 8%;
    left: 10%;
}

.static_description h6 {
    color: #c10101;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

.static_description h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}






















































/*===============Products Items===================*/

.products .title {
    color: #161918;
    font-size: 24px;
    font-weight: 100;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 87px;
    padding-bottom: 12px;
}

.row_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row_item {
    position: relative;
}

.row_img {
    position: relative;
}

.hover_item {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    flex-direction: column;
}

.row_img:hover .hover_item {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}


.view {
    background-color: #c10101;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 22px 43px;
    border: #c10101;
    margin-bottom: 101px;
}

.view:hover {
    background-color: #610303;
    cursor: pointer;
    transition: all 0.3s;
}

.color_item {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 0;
}

.color_dot {
    justify-content: space-around;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
}

.color_dot.color1 {
    border: 1px solid #9b9b9b;
    background-color: #c9910b;
}

.color_dot.color2 {
    border: 1px solid #ffffff;
    background-color: #2d2d2e;
}

.color_dot.color3 {
    border: 1px solid #9b9b9b;
    background-color: #64215a;
}


.product_description .discount_product p {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: #000000;
    padding: 0 7px;
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
}

.product_description .new_product p {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #c10101;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
    padding: 0 7px;
}


.product_description {
    text-align: left;
}

.product_description p {
    max-width: 220px;
    color: #161918;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

.product_description .current {
    color: #161918;
    font-size: 20px;
    font-weight: 400;
    line-height: 64px;
    padding-bottom: 37px;
}

.discount {
    font-size: 14px;
    font-weight: 400;
    line-height: 64px;
    text-decoration: line-through;
    color: #9B9CA1;
    padding-left: 12px;
}

.products button.all_products {
    display: block;
    position: center;
    margin: 0 auto;
    width: 220px;
    height: 70px;
    background-color: #c10101;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 57px;
    border: none;
}

button.all_products:hover {
    background-color: #610303;
    transition: all 0.3s;
}

.products button,
.slider_description button:focus {
    outline: none;
}

.slider_description button:hover {
    background-color: #000000a3;
    transition: 0.3s;
}


.products button.all_products:hover {
    cursor: pointer;
}


.static_block_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 106px;
}

.static_block_2 img {
    max-width: 100%;
}


.static_block_2_item {
    position: relative;
    width: 49%;
}



.static_description2 h6 {
    position: absolute;
    bottom: 12%;
    left: 10%;
    color: #c10101;
    font-size: 10px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

.static_description2 h4 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}










































/*=========Newsletter===========*/


.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3 {
    text-align: center;
    color: #161918;
    font-size: 26px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    padding-bottom: 38px;
}

.newsletter p {
    text-align: center;
    margin: 0 auto;
    max-width: 743px;
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 37px;
}

.email_form {
    display: inline-block;
    margin-bottom: 100px;
}

form {
    position: relative;
}

.form-control {
    border: 1px solid #eeeeee;
    outline: none;
    display: inline-block;
    width: 529px;
    height: 56px;
    background-color: #f9f9fa;
    font-size: 13px;
    text-align: left;
    color: #939398;
    padding-left: 21px;
    transition: all 0.3s;
    max-width: 100%;
}

.email_icon .material-icons {
    position: absolute;
    top: 30%;
    right: 5%;
    height: 13px;
    color: #d3d3da;
}


.footer1 {
    background-color: #f9f9fa;
}

.sponsors {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 40px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2b2b;
    padding: 81px 0;
}

.footer2 .container {
    display: flex;
    justify-content: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer_titles {
    max-width: 33%;
}


.footer_titles h4 {
    padding-bottom: 35px;
}

.footer_titles {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}






.products_options ul {
    list-style-type: none;
}

.products_options li {
    text-align: center;
}

.products_options a {
    text-decoration: none;
    color: #959494;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}

.products_options a:hover {
    color: #fff;
    cursor: pointer;
}

.footer3 {
    background-color: #252222;
}



.footer_items {
    display: flex;
    flex-basis: row;
    justify-content: space-around;
    align-items: center;
}

.footer_info p {
    color: #959494;
    font-size: 13px;
    font-weight: 300;
    line-height: 32px;
}

.footer_info .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_info .social_link {
    color: #959494;
    font-size: 23px;
    font-weight: 400;
    line-height: 35.85px;
}

.footer_info .social a:hover {
    cursor: pointer;
    color: #ffffff;
}

.footer_address p {
    padding-top: 32px;
}

.footer_address p,
h5 {
    text-align: center;
}

.footer_address p {
    color: #fefefe;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
}

.footer_address h5 {
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 32px;
}

.footer_address a {
    color: #959494;
    text-decoration: none;
}

.footer_address h5 a:hover {
    cursor: pointer;
    color: #fefefe;
}

.footer4 {
    background-color: #1e1b1b;
    padding: 22px 0;
}

.footer4 p {
    text-align: center;
    color: #959494;
    font-size: 13px;
    font-weight: 300;
    line-height: 32px;
}

.cards {
    margin-bottom: 19px;
}



@media (max-width: 768px) {
    .items li .material-icons{
        font-size: 21px;
    }

    .items li .material-icons {
        font-size: 
    }
}

@media (max-width: 640px) {
    .slider_description p {
        padding: 0 15px;
        font-size: 12px;
    }
    .support {
        flex-direction: column;
    }
    .footer_info p {
        font-size: 11px;
    }
    .footer_address p, .footer_address h5  {
        font-size: 11px;
    }
    .footer_info .social_link {
        font-size: 16px;
    }
    .cards img {
        width: 80%;
    }

    .footer_items {
        justify-content: space-between;
    }
    .up_header {
        display: none;
    }
    .mid_header {
        justify-content: space-between;

    }
    .mid_header .contact  {
        display: none;
    }
    .mid_header .burger {
        display: flex;
    }
    .mid_header .mid_right .cart {
        display: none;
    }
    .mid_header .logo img {
        margin-right: 0;
    }

    .down_header {
        display: none;
    }
    .slider_description h2 {
        font-size: 41px;
    }
    
    .mid_right .number {
    color: #ffffff;
    font-size: 8px;
}

@media (max-width: 480px) {
    
}

